.blueLink {
  color: unset;
  font-weight: bold;
}

.foregroundLink {
  background-image: linear-gradient(to right, #00cc88, #009966 50%, grey 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.foregroundLink:before {
  content: "";
  background: #00e699;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.foregroundLink:hover {
  background-position: 0;
}

.foregroundLink:hover::before {
  width: 100%;
}
